* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: poppins-extralight;
  font-weight: 200;
  font-style: normal;
  src: url("../files/fonts/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: poppins-light;
  font-weight: 300;
  font-style: normal;
  src: url("../files/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: poppins-regular;
  font-weight: 400;
  font-style: normal;
  src: url(../files/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  font-weight: 500;
  font-style: normal;
  src: url(../files/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppins-semiBold;
  font-weight: 600;
  font-style: normal;
  src: url(../files/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: specialElite;
  font-weight: 400;
  font-style: normal;
  src: url("../files/fonts/SpecialElite-Regular.ttf");
}
.containerHeader {
  height: 95vh;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.containerHeader .ajustHeader {
  width: 1200px;
  display: flex;
  justify-content: center;
}
.containerHeader .ajustHeader header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 7px 75px;
  background-color: #FEFEFE;
  margin: 15px 20px;
  border-radius: 35px;
  box-shadow: #FFF 1px -2px 18px -3px;
  position: fixed;
  z-index: 99;
}
.containerHeader .ajustHeader header nav ul {
  display: flex;
  flex-direction: row;
}
.containerHeader .ajustHeader header nav ul li a {
  display: block;
  font-family: poppins-semiBold;
  padding: 7px 20px;
  margin-right: 5px;
  border-radius: 20px;
  color: #0A101E;
  font-size: 16px;
  transition: 0.5s;
}
.containerHeader .ajustHeader header nav ul li a:hover {
  box-shadow: 0px 1px 15px -5px #FF852A;
}
.containerHeader .ajustHeader header .imgNav i {
  color: #FF852A;
  font-size: 45px;
  animation-name: giro;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.containerHeader .ajustHeader .menuHaburguer {
  display: none;
  position: fixed;
  right: 0;
  margin: 15px;
  cursor: pointer;
  z-index: 99;
}
.containerHeader .ajustHeader .menuHaburguer div {
  width: 35px;
  height: 5px;
  background-color: #FF852A;
  margin-bottom: 5px;
  border-radius: 5px;
}
.containerHeader .imgDestaque {
  background-image: url("../files/img/destaqueImg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 400px;
  width: 70%;
  position: absolute;
  bottom: -400px;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(6px -6px 91px #FF852A);
  z-index: -1;
}
.containerHeader .btnHeader {
  background-color: #FF852A;
  color: #0A101E;
  font-family: poppins-semiBold;
  font-size: 14px;
  padding: 10px 35px;
  border-radius: 20px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.containerHeader .nameInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  position: absolute;
  bottom: 15%;
  left: 0;
  opacity: 0.7;
}
.containerHeader .nameInfo .nameTitle {
  font-family: specialElite;
  color: #FEFEFE;
  font-size: 23px;
  line-height: 4rem;
  max-width: 450px;
  flex: 1;
}
.containerHeader .nameInfo .nameTitle p {
  font-size: 20px;
}
.containerHeader .nameInfo .imgHeader {
  flex: 1;
  font-size: 250px;
  text-align: right;
  margin-right: 20px;
}
.containerHeader .nameInfo .imgHeader i {
  color: #FF852A;
  animation-name: giro;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.openMenu {
  opacity: 1;
}

@keyframes giro {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@media screen and (max-width: 600px) {
  .containerHeader .nameInfo {
    flex-direction: column;
    bottom: 16%;
  }
  .containerHeader .nameInfo .nameTitle {
    font-size: 12PX;
    max-width: 350px;
    line-height: 3rem;
  }
  .containerHeader .nameInfo .nameTitle p {
    line-height: 35px;
  }
  .containerHeader .nameInfo .imgHeader {
    text-align: center;
    font-size: 200px;
    margin-right: 0px;
  }
  .containerHeader .ajustHeader .menuHaburguer {
    display: block;
  }
  .containerHeader .ajustHeader header {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 200px;
    padding: 20px 75px;
  }
  .containerHeader .ajustHeader header .imgNav {
    margin-bottom: 15px;
  }
  .containerHeader .ajustHeader header nav ul {
    flex-direction: column;
    line-height: 35px;
  }
  .containerHeader .ajustHeader header nav ul li a {
    padding: 2px 15px;
  }
  .containerHeader .imgDestaque {
    filter: drop-shadow(-3px -121px 90px #FF852A);
  }
}
main {
  background-color: #0A101E;
  height: 500px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
  position: relative;
}

body {
  font-family: poppins-regular;
  background-color: #0A101E;
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */