@font-face {
    font-family: poppins-extralight;
    font-weight: 200;
    font-style: normal;
    src: url('../files/fonts/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: poppins-light;
    font-weight: 300;
    font-style: normal;
    src: url('../files/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: poppins-regular;
    font-weight: 400;
    font-style: normal;
    src: url(../files/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-medium;
    font-weight: 500;
    font-style: normal;
    src: url(../files/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-semiBold;
    font-weight: 600;
    font-style: normal;
    src: url(../files/fonts/Poppins-SemiBold.ttf);
}