.containerHeader {
    height: 95vh;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    .ajustHeader {
        width: 1200px;
        display: flex;
        justify-content: center;

        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            padding: 7px 75px;
            background-color: $white-navMenu;
            margin: 15px 20px;
            border-radius: 35px;
            box-shadow: #FFF 1px -2px 18px -3px;
            position: fixed;
            z-index: 99;

            nav {


                ul {
                    display: flex;
                    flex-direction: row;

                    li {


                        a {
                            display: block;
                            font-family: poppins-semiBold;
                            padding: 7px 20px;
                            margin-right: 5px;
                            border-radius: 20px;
                            color: $black-fundo;
                            font-size: 16px;
                            transition: 0.5s;

                            &:hover {
                                box-shadow: 0px 1px 15px -5px #FF852A;
                            }
                        }
                    }
                }
            }

            .imgNav {

                i {
                    color: $orange-destaque;
                    font-size: 45px;
                    animation-name: giro;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
            }
        }

        .menuHaburguer {
            display: none;
            position: fixed;
            right: 0;
            margin: 15px;
            cursor: pointer;
            z-index: 99;

            div {
                width: 35px;
                height: 5px;
                background-color: $orange-destaque;
                margin-bottom: 5px;
                border-radius: 5px;
            }
        }
    }

    .imgDestaque {
        background-image: url('../files/img/destaqueImg.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 400px;
        width: 70%;
        position: absolute;
        bottom: -400px;
        left: 50%;
        transform: translateX(-50%);
        filter: drop-shadow(6px -6px 91px #FF852A);
        z-index: -1;
    }

    .btnHeader {
        background-color: $orange-destaque;
        color: $black-fundo;
        font-family: poppins-semiBold;
        font-size: 14px;
        padding: 10px 35px;
        border-radius: 20px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }

    .nameInfo {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
        position: absolute;
        bottom: 15%;
        left: 0;
        opacity: 0.7;

        .nameTitle {
            font-family: poppins-semiBold;
            color: $white-navMenu;
            font-size: 20px;
            line-height: 4rem;
            max-width: 450px;
            flex: 1;

            h1{

                strong{
                    color: $orange-destaque;
                }
            }

            p {
                font-size: 20px;
            }
        }

        .imgHeader {
            flex: 1;
            font-size: 250px;
            text-align: right;
            margin-right: 20px;

            i {
                color: $orange-destaque;
                animation-name: giro;
                animation-duration: 50s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
    }

}

.openMenu {
    opacity: 1;
}


@keyframes giro {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}


@media screen and (max-width: 600px) {
    .containerHeader {


        .nameInfo {
            flex-direction: column;
            bottom: 20%;

            .nameTitle {
                font-size: 12PX;
                max-width: 350px;
                line-height: 3rem;

                p {
                    line-height: 35px;
                }
            }

            .imgHeader {
                text-align: center;
                font-size: 200px;
                margin-right: 0px;
            }

        }

        .ajustHeader {

            .menuHaburguer {
                display: block;
            }

            header {
                display: none;
                flex-direction: column;
                text-align: center;
                width: 200px;
                padding: 20px 75px;

                .imgNav {
                    margin-bottom: 15px;
                }

                nav {

                    ul {

                        flex-direction: column;
                        line-height: 35px;

                        li {

                            a {

                                padding: 2px 15px;
                            }
                        }
                    }
                }
            }
        }

        .imgDestaque{
            filter:  drop-shadow(6px -52px 91px #FF852A);
        }
    }
}